
/* THIS ISN'T USED YET */
.config-builder-component {
    height: 100%;
    background: white;
    border-radius: 7px;
}

.builder-content {
    height: 100%;
    border: 1px solid #ccc;           

    /*background-color: purple;*/
    position: relative;
    /* height: 88vh; */
    /*overflow-y: scroll;*/

    display: grid;
    grid-template-columns: 300px 1fr;

    /*border: 1px solid #ccc;*/
    border-radius: 7px;
    /*margin-bottom: 20px;*/

    box-shadow: 0 5px 15px 0 hsla(0,0%,0%,0.15);

    overflow: hidden;
}

.content {
    height: 100%;    

    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    position: relative;
    border: 1px solid #e1e1e1;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    overflow: auto;
}

.side-menu {
    position: relative;
    /* height: 88vh; */
    /*width:400px;*/
    overflow: hidden;
    border: 1px solid #e1e1e1;
    /*border-radius: 7px;*/
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    /* display: grid; */
    grid-template-rows: 60px 1fr 1fr 60px;

    padding: 5px 15px;
}

.search {
    text-align: center;
    align-self: center;
}

.actions {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #ccc;

    text-align: center;
    align-self: center;
}

.action-button.delete {
    color: #ccc;
}
.action-button.delete:hover {
    color: red;
}


.section-title {
    padding: 5px 15px;

    /*border-top: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
    text-align:center;
    display: flex;
    justify-content: space-between;
    background-color: #0079bd; /*#ededed;*/
    color: white;
    border-radius: 7px;
}
.section-title svg {
    opacity: 0.7;
    transition: opacity 0.3s;
}
.section-title svg:hover {
    opacity: 0.9;
}

.heading {
    text-transform: uppercase;
    margin-left: 6px;
    font-weight:600;    
}

.heading button { 
    cursor: pointer;
}

.builder-form {
    position: relative;

    /* ORIGINAL CSS */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1;             stay above copy-to-clipboard icon  */
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 10px; */
    background-color: #f8f8f8;  /*#fbfbfb;*/ /*darkcyan;*/
    /* border-bottom: 1px solid #ccc; */

    /*overflow-y: auto;*/
    /*border-radius: 7px;*/
    /*box-shadow: inset 1px 1px 3px #CCB;*/
}

.json-layout header {
    color: unset;
    /*overflow-y: scroll;*/
    /*height: 90vh;*/
    /*background-color: #eee;*/
}

.json-header {
    padding: 0 20px;
}

.json-code {
    position: relative;
    /*border-radius: 7px;*/
    margin: 0 20px;
}

.json-code textarea {
    border-radius: 7px;
}

.json-code pre {
    margin: 0;
}

#jsonResult {
    width: 100%;
    height: 76vh;
    box-sizing: border-box;
}

.copy-to-clipboard {
    position: absolute;
    right: 18px;
    top: 10px;
    z-index: 0;                 /* stay below builder-form  */
}


.systems, .modules {
    /*width: 350px;*/
    margin-top: 10px;
    position: relative;
    z-index: 5;
}
.modules-list, .systems-list {
    /* width: 368px; */
    position: relative;
    z-index: 0;
    /*margin-top: -4px;*/
    padding: 10px;
    max-height: 320px;
    overflow-y: scroll;
    box-shadow: inset 0 -3px 4px #bbb;
    border-radius: 4px;

    /* overflow-x: scroll; */
}

.module-link, .system-link {
    border: 1px solid #fff;
    border-radius: 7px;
    transition: background-color 0.3s;
}
.module-link.selected, .system-link.selected {
    border: 1px solid #ccc;
    background-color: rgba(0, 121, 189, 0.16);
}
.module-link:hover, .system-link:hover {
    /*background-color: rgba(0, 121, 189, 0.16);*/
    border-color: #ccc;
    /*color: white;*/
    cursor:pointer;
}

/* FORM */
.module-details {
    position: relative;
    grid-template-rows: 1fr 300px;
    padding: 20px;
}

.module-details fieldset.form-wrap {
    background-color: #fff;

    border-width: 1px;
    padding: 20px;

    position: relative;
    overflow: scroll;
    height: 78vh;
    padding-bottom: 80px;
    border-radius: 4px;
}

.module-details fieldset.form-wrap legend {
    text-transform: uppercase;
    font-weight: 600;
}

.module-details form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 10px;

    position: absolute;
    bottom: -65px;
    /* background-color: white; */
    width: calc(100% - 40px);
    padding: 20px;
}

.tertiary-button {
    cursor: pointer;
    height: 2em;
    color: #0079bd;
    text-align:center;
    padding: 5px 10px;
    transition: opacity 0.3s;
}

.tertiary-button:hover {
    opacity: 0.5;
}

.wonder-wall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.wonder-wall .clickable-panel {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.wonder-wall .clickable-panel:hover {
    background-color: #bbbbbb;
    border-color: #141617;
}



    /* DEBUGGING */

h1,h2 {
    margin: 0;
}
